<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.appsbay.aiPrompts</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>aiprompts</string>
			</array>
		</dict>
	</array>
	<key>GADApplicationIdentifier</key>
	<string>$(GADApplicationIdentifier)</string>
	<key>appOpenAdID</key>
	<string>$(appOpenAdID)</string>
	<key>bannerViewAdUnitID</key>
	<string>$(bannerViewAdUnitID)</string>
</dict>
</plist>
